body {
  font-family: "Roboto", "Open Sans", sans-serif;
  background-color: #201f1f;
  position: relative; }

.navbar {
  margin-bottom: 0;
  background-color: #313131;
  z-index: 9999;
  border: 0;
  font-size: 15px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 2px;
  border-radius: 0; }

.navbar li a, .navbar .navbar-brand {
  color: #fff !important; }

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  background-color: #d64732 !important; }

.navbar-default .navbar-toggler {
  border-color: transparent;
  color: #d64732 !important; }

.jumbotron {
  background-color: #d64732;
  padding: 150px 25px; }

.container-fluid {
  padding: 60px 50px; }

.container {
  padding: 80px 5px; }

.skills {
  padding: 40px 20px; }

.skill {
  background-color: #414141; }

.form-control {
  margin: 10px 0; }

h1,
h2,
h3 {
  font-family: "Roboto";
  color: white; }

.site-footer {
  background-color: #313131;
  padding: 10px 0; }

footer h5 {
  color: white; }

.progress {
  height: 5px; }

a {
  color: inherit;
  text-decoration: none; }

footer a:hover {
  text-decoration: underline;
  color: #d64732; }

.icons {
  width: 1.5rem; }

.img-thumbnail {
  border-radius: 250px;
  width: 250px; }

img.card-img-top {
  width: 200px;
  margin: auto;
  padding: 1rem; }

.card {
  background-color: #c4bda5; }

#contact {
  background-color: #414141; }

.contact-fa {
  border: #d64732 2px solid;
  border-radius: 50%;
  display: inline-block;
  height: 5rem;
  width: 5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem; }

@media screen and (max-width: 768px) {
  .aboutMe {
    text-align: center; } }

.slideanim {
  visibility: hidden; }

.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible; }

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

/* @-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
} */
